html, body {
  margin: 0;
  padding: 0;
  background-color:#0e0166;
}

canvas {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid #ffffff;

  
}

h1{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  font-family:'JetBrains Mono';
  font-size: 40px ;
  color:#ffffff;
} 

h2{
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  font-family:'JetBrains Mono';
  font-size: 30px ;
  color:#ffffff;
} 

