html, body {
    margin: 0;
    padding: 0;
    background-color:#000000;
  }
  
  canvas {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
  
    
  }
  
  h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  } 
  
  h2{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgb(255, 255, 255);
  } 